
/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f2e9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    }

  /* Logo da Empresa */
.logo {
    max-width: 100%;
    height: auto;
    width: 200px; /* Ajuste conforme necessário */
}

    h1 {
        text-align: center;
        color: #2d6a4f;
        margin: 0;
    }

    /* Container do Formulário */
    .form-container {
        background-color: #ffffff;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        padding: 30px;
        max-width: 500px;
        width: 100%;
        margin: 20px;
    }

    header {
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        display: block;
        font-weight: bold;
        color: #1b4332;
    }

    .messages p {
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        margin: 15px 0;
    }
    
    input[type="text"], input[type="number"], input[type="date"], textarea, select {
        width: 100%;
        padding: 12px;
        margin-top: 5px;
        border: 1px solid #c7e1cd;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
        border-color: #2d6a4f;
        box-shadow: 0 0 5px rgba(45, 106, 79, 0.4);
        outline: none;
    }

    /* Botão de Envio */
    input[type="submit"] {
        margin-top: 20px;
        padding: 12px;
        border: none;
        border-radius: 5px;
        background-color: #2d6a4f;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #1b4332;
    }