body {
    font-family: Arial, sans-serif;
    background-color: #e0f2e9;
    padding: 20px;
}

  /* Logo da Empresa */
  .logo {
    max-width: 100%;
    height: auto;
    width: 200px; /* Ajuste conforme necessário */
}

h1 {
    color: #2d6a4f;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #2d6a4f;
    text-align: left;
}

th {
    background-color: #2d6a4f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}